

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User Profile of <%=user.first_name%> <%=user.last_name%> </h3>
      </div>

      <div class="panel-body">

        <ul>
          <li>Name:   <%=user.first_name%> <%=user.last_name%> </li>
          <li>email:  <%=user.email%> </li>
          <li>Gender: <% if (user.gender == 2) { %>
                            Female
                      <% } else { %>
                            Male
                      <% } %>
          </li>

          <li>Age Group:
                      <% if (user.age == 1) { %>
                            16 - 35 years old
                      <% } else if (user.age == 2) { %>
                            36 - 50 years old
                      <% } else if (user.age == 3) { %>
                            above 50 years old
                      <% } %>
          </li>

          <li>Ethnicity:
                      <% if (user.ethnicity == 1) { %>
                            Chinese
                      <% } else if (user.ethnicity == 2) { %>
                            Malay
                      <% } else if (user.ethnicity == 3) { %>
                            Indian
                      <% } else if (user.ethnicity == 4) { %>
                            Other
                      <% } %>
          </li>

          <li>Household Income:
                      <% if (user.householdIncome == 1) { %>
                            Below SGD 3,000
                      <% } else if (user.householdIncome == 2) { %>
                            SGD 3,000 - 5,999
                      <% } else if (user.householdIncome == 3) { %>
                            SGD 6,000 - 14,999
                      <% } else if (user.householdIncome == 4) { %>
                            SGD 15,000 or above
                      <% } %>
          </li>

          <li>Political Party:
                      <% if (user.politicalParty == 1) { %>
                            People Action Party (PAP)
                      <% } else { %>
                            Opposition
                      <% } %>
          </li>

          <li>Time On Line:
                      <% if (user.timeOnline == 1) { %>
                            less than 2 hours
                      <% } else if (user.timeOnline == 2) { %>
                            more than 2 hours, less than 5 hours
                      <% } else if (user.timeOnline == 3) { %>
                            more than 6 hours
                      <% } %>
          </li>

        </ul>
                <!-- <%=user%> -->

    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">NPS Data</h3>
    </div>

    <div class="panel-body">
      Display here: <br>
      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Survey Participated</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</div>


    <!--
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Basic panel example
        </div>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div> -->
