
<h2>test here</h2>

<%=res%>

<!-- <%for(i = 0; i < res.length; i++){%>
<br> Result No: <%=i+1%>
<br>Brand: <%=res[i].Brand%>
<br>NPS Score: <%=res[0].NPS_Score%>
<br>Total Survey: <%=res[0].totalSurvey%>
<br>

<%};%> -->



<br>
<br>****************************
<br> Test Data:<br>
